/* Global */
a {
  cursor: pointer;
}

/*
* {
    border: 1px solid magenta;
}
*/
/*Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/*variables*/
/*Header*/
header {
  position: relative;
  padding-top: 20px;
  background-image: url("../images/header_bg.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 881px;
}

header .tint {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.5%;
  background-color: black;
  opacity: 0.50;
}

header nav {
  margin-top: 10px;
}

header nav .nav-links {
  text-align: right;
}

header nav .nav-links ul {
  margin-right: 20px;
}

header nav .nav-links ul li {
  list-style: none;
  display: inline-block;
}

header nav .nav-links ul li .nav-link {
  margin: 8px 20px 0 20px;
}

header .greetings {
  margin-top: 200px;
}

header .greetings img {
  display: block;
  margin: 0 auto 60px auto;
}

/*Services*/
.services {
  margin: 150px 0;
}

.services .services-card {
  text-align: center;
}

.services .services-card img {
  width: 73;
  height: 73;
  border: 4px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.services .services-card img:hover {
  border: 4px solid #fed136;
}

.services .services-card h4 {
  margin-top: 1rem;
  color: #000000;
}

.services .services-card p {
  margin-top: 1rem;
  color: #777777;
}

/*Portfolio*/
.portfolio {
  padding-top: 100px;
  background-color: #f7f7f7;
  text-align: center;
}

.portfolio h2 {
  text-transform: uppercase;
}

.portfolio p {
  margin: 1.5rem 0 2rem 0;
  color: #777777;
}

.portfolio .portfolio-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #ffffff;
  min-height: 450px;
}

.portfolio .portfolio-card .card-image {
  position: relative;
  -ms-flex: 1;
      flex: 1;
}

.portfolio .portfolio-card .card-image img {
  width: 100%;
  object-fit: cover;
}

.portfolio .portfolio-card .card-footer {
  -ms-flex: 1;
      flex: 1;
  max-height: 3rem;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.portfolio .portfolio-card p {
  margin: 0.1rem 0 2rem 0;
  color: #777777;
}

/*Footer*/
footer {
  margin-top: 75px;
  width: 100%;
}

footer .disclaimer {
  line-height: 60px;
}

footer .social li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
  font-size: 32px;
  line-height: 60px;
  cursor: pointer;
}

/*Media*/
@media (max-width: 767px) {
  header .tint {
    height: 30%;
  }
  header nav .nav-links {
    text-align: left;
  }
  header nav .nav-links ul {
    margin-top: 40px;
  }
  header nav .nav-links ul li {
    list-style: none;
    display: block;
  }
  header nav .nav-links ul li .nav-link {
    margin: 8px 0;
  }
  footer .disclaimer,
  footer .social {
    text-align: center;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */